
nav{
  img{
    position: relative;
    border:3px solid $colorvivos;
    border-radius:50%;
  }
  li{
    font-family: $fontf;

    list-style: none;
    a{
      font-size: 16px;
      text-decoration: none;
      color: black;
      text-transform:uppercase;
    }
    a:hover{
      color: $colorvivos;
      font-weight: 500;
    }
  }
}