$colorfondo: #fff;
$colorvivos: #BDD2B6;
$fontf:'Pacifico', cursive;

/*estilos del nav*/
nav{

    li{
      padding-left:50px;
      a{
         color: black !important;
      }
      font-family: $fontf;
      font-size:18px;
  
      a:hover{
        color:$colorvivos !important;
        transform:scale(1.1);
         transition-delay:50ms;
        transition-duration: 50ms;
      }
    }
  img{
    border:3px solid $colorvivos;
    border-radius:49%;
  }
    img:hover{
      transform: scale(1.1);
      transition-delay:100ms;
      transition-duration: 500ms;
    }
  }
  
  @media only screen and (max-width: 992px) {
  nav{
    display:flex;
    flex-direction:wrap;
  }
  }


section{
    hr{
        color: $colorvivos;
    }
    h1{
        display: flex;
        justify-content: center;
        font-family: $fontf;
        background-color: $colorvivos;
        height: 100%;
       
    }
    ol{
        
        list-style: none;
    }
}



footer {
    background-color: #BDD2B6 !important;
  }
  footer h3 {
    font-family:$fontf;
  }
  footer a {
    text-decoration: none;
  }
  a:hover{
    opacity: 0.5;
  }
  footer a i {
    font-size: 30px;
    color: black;
  }
  form input {
    background-color:$colorvivos !important;
    border: 2px solid black !important;
 }   
 @media only screen and (min-width: 1200px){
     small{
         
         display: flex;
         text-align: center!important;
         
     }
 }
