body {
  background-color: #fff !important;
}

nav li {
  padding-left: 50px;
  font-family: "Pacifico", cursive;
  font-size: 18px;
}
nav li a {
  color: black !important;
}
nav li a:hover {
  color: #BDD2B6 !important;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition-delay: 50ms;
          transition-delay: 50ms;
  -webkit-transition-duration: 50ms;
          transition-duration: 50ms;
}
nav img {
  border: 3px solid #BDD2B6;
  border-radius: 49%;
}
nav img:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition-delay: 100ms;
          transition-delay: 100ms;
  -webkit-transition-duration: 500ms;
          transition-duration: 500ms;
}

@media only screen and (max-width: 992px) {
  nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: wrap;
            flex-direction: wrap;
  }
}
header img {
  image-rendering: auto;
  image-rendering: crisp-edges;
  -ms-interpolation-mode: nearest-neighbor;
      image-rendering: -webkit-optimize-contrast;
      image-rendering: -moz-crisp-edges;
      image-rendering: -o-pixelated;
      image-rendering: pixelated;
}

section H2 {
  font-family: "Pacifico", cursive;
}
section a {
  text-decoration: none;
  color: #fff;
}
section a:hover {
  opacity: 0.7;
  color: #fff;
}
section H3 {
  font-family: "Pacifico", cursive;
  border: 1px solid;
  background-color: #BDD2B6;
}

@media only screen and (max-width: 350px) {
  #cd H3 {
    font-size: 15px !important;
  }
}
@media only screen and (max-width: 600px) {
  #cd h3 {
    text-align: center;
  }
}
#verde {
  margin-top: 20px;
  background-color: #BDD2B6;
  color: #BDD2B6;
  height: 3px;
  opacity: 0.5;
}

#productos {
  background-color: #BDD2B6;
}
#productos h1 {
  font-family: "Pacifico", cursive;
}

#prod img:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  opacity: 0.9;
}

footer {
  background-color: #BDD2B6 !important;
}

footer h3 {
  font-family: "Pacifico", cursive;
}

footer a {
  text-decoration: none;
}

a:hover {
  opacity: 0.5;
}

footer a i {
  font-size: 30px;
  color: black;
}

form input {
  background-color: #BDD2B6 !important;
  border: 2px solid black !important;
}

@media only screen and (min-width: 1200px) {
  small {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    text-align: center !important;
  }
}